body,
html {
  margin: 0;
  padding: 0;
  color: #8e8d8a;
}

body {
  background-color: #eae7dc;
  font-family: "Cardo", serif;
}

#nav {
  position: absolute;
  right: 0;
  margin-right: 2em;
}

#nav ul {
  list-style: none;
  display: flex;
  margin: auto;
}

#nav ul li {
  padding-right: 2em;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

#nav ul li a {
  text-decoration: none;
  color: #eae7dc;
  font-weight: bold;
  font-size: 1.5em;
}

#hero {
  background-color: #656967;
  height: 45vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0;
}

#heading {
  top: 25%;
  position: relative;
}

h1 {
  font-size: 5em;
  text-align: center;
  color: #e85a4f;
}

p {
  margin: 0;
  text-align: center;
  font-size: 2em;
  padding-bottom: 2em;
  font-style: oblique;
  color: #eae7dc;
}

#examples {
  height: fit-content;
}

.img-box-1 {
  width: 15%;
  cursor: pointer;
  margin-left: 2em;
  margin-top: 2em;
}
.img-box-1,
.img-box-2,
.img-box-3 {
  width: 15%;
  height: 15%;
  cursor: pointer;
  margin-left: 2em;
  margin-top: 2em;
  border-style: solid;
  border-color: #171817;
  border-width: 0.75em;
  position: relative;
}

.img-box-2 {
  left: -17%;
  margin-top: 3em;
}

.img-box-3 {
  left: -34%;
  margin-top: 4em;
}

.expandable-box {
  padding-bottom: 2em;
  width: 100%;
  height: fit-content;
  display: flex;
}

#close-expandable {
  position: absolute;
  color: #171817;
  right: 0.75em;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  cursor: pointer;
  display: none;
}

#expandable-box-after {
  justify-content: space-around;
}

h2 {
  margin: auto;
  position: relative;
  left: -27%;
  font-size: 5em;
  text-align: center;
  color: #afaeac;
}

h2:after {
  display: none;
}

#contact {
  background-color: #656967;
  padding: 1em;
}

#contact ul {
  list-style: none;
  display: flex;
  margin: 0;
  justify-content: space-around;
  padding: 0;
}

#contact ul li {
  cursor: pointer;
  color: #eae7dc;
}

/* about page */

#about img {
  float: left;
  width: 25%;
  margin-left: 2em;
  margin-top: 2em;
}

#about-p {
  font-style: normal;
  padding-top: 3em;
  color: #8e8d8a;
}

.about-nav ul li a {
  color: #656967 !important;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
